/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

.main-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 1%;
    border-radius: 0 10px;
    min-width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 15px;
}

div#content-container>div>img {
    width: 95%;
}

@media only screen and (max-width: 821px) {
    .card-container {
        width: 70%;
    }
}